<h2> Lists all requests created. Eventually this will show only the current users' requests </h2>

<% @requests.each do |r| %>
	<p><%= puts "----Request #{r.id} " %></p>
	<p><%= puts "request body goes here"  %></p>
	<p><%= puts "date1: #{r.date1} " %></p>
	<p><%= puts "date2: #{r.date2}" %></p>
<% end %>