<h1>returns the output of pages from 100 years ago today</h1>

<p>Put the number of items returned here </p>
<p><%= @pages["totalItems"] %></p>


<p>Put the raw return object body here </p>

<%= @pages %>