<h1>Returns newspaper pages containing the word "liquor"</h1>

<p>Put the number of items returned here </p>
<p><%= @pages["totalItems"] %></p>

<p>A single item goes here</p>
<tbody>
<% @pages
</tbody>

<p>Put the raw return object body here </p>

<%= @pages %>